@charset "utf-8";

@import url("//fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("//fonts.googleapis.com/css?family=Raleway:300,500,700");

@import 'normalize';
@import 'variables'; //revert to tripit defaults
@import 'variables2'; // tradegecko overrides
@import 'icon-font';


@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/tables';
@import 'bootstrap/scss/forms';
@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/alert';
@import "bootstrap/scss/utilities/spacing";
@import "bootstrap/scss/utilities/float";

@import "@tradegecko/styles/scss/settings/base-colors";
@import "@tradegecko/styles/scss/settings/decorators";
@import "@tradegecko/styles/scss/settings/svgs";
@import "@tradegecko/styles/scss/settings/sizing";
@import "@tradegecko/styles/scss/settings/text";
@import "@tradegecko/styles/scss/tools/text";
@import "@tradegecko/styles/scss/components/buttons";
@import "@tradegecko/styles/scss/components/title-text";
@import "@tradegecko/styles/scss/tools/svg";
@import "@tradegecko/styles/scss/objects/base";
@import "@tradegecko/styles/scss/objects/page";
@import "@tradegecko/styles/scss/components/site-header";
@import "@tradegecko/styles/scss/components/site-footer";

@import 'components/feedback-banner';
@import 'components/home-cta';
@import 'components/link-list';
@import 'components/footer';
@import 'components/search';
@import 'components/card-list';
@import 'components/nav';
@import 'components/become-partner';

@import 'original';
@import 'content';
@import 'guides';

.site-header nav a {
  @extend %header-font;
  font-weight: 700;
}

.btn-primary:hover {
  color: white;
}

.btn {
  display: inline-block;
}

.index-page__section {
  margin-top: 100px;
}

.plain-link {
  text-decoration: none;
  color: #70cf32;
  font-weight: 700;
}
.base__body {
  overflow: visible;
}

.btn-primary {
  color: white;
}

.site-header {
  border-bottom: none;
}

.base__footer {
  position: relative;

  .footer-wrapper {
    h4 {
      font-size: 14px;
      font-weight: 700;
    }
  }
}

$border-base: solid 1px $gray-3;
$base-shadow: 0px 1px 3px rgba(0, 0, 0, 0.10);
$border-radius: 3px;

@media (max-width: 360px) {
  .cta-section {
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  .index-page__section {
    > h1 {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

@media (min-width: 767px) {
  .burger {
    display: none;
  }
}

@media (max-width: 767px) {
  .base__body {
    overflow-x: hidden;
  }

  .feedback-banner {
    margin: 0;
  }
}

@media (max-width: 992px) {

  .site-header__title--strong {
    display: none;
  }

  .site-header nav {
    margin-left: inherit;
    justify-content: inherit;
    width:100%;
    justify-content: flex-end;
  }

  .site-header {
    padding-top: 0;
  }

  .site-header {
    nav {
      a {
        margin-left: 10px;
      }
    }
  }

  .site-header__title {
    margin-left: none;
  }

  .site-header {
    height: inherit;
  }

}

@media (max-width: 766px) {


  .base__header {
    .col-12 {
      padding: 0;
    }

    .site-header__logo {
      margin-left: 15px;
    }

    .burger {
      margin-right: 15px;
    }

  }
  .site-header {
    nav {
      display: none;
      position: absolute;
      background: white;
      top: 80px;
      z-index: 40;

      a {
        margin: 0;
        width: 100%;
        display: block;
        border-top: 1px solid black;
        padding: 10px 20px;
      }

      a:last-child {
        border-bottom: 1px solid black;
      }
    }
  }
}

@import 'typography';
