<%
  @links = {
    company: [
      {
        name: 'About us',
        url: 'https://www.tradegecko.com/about-us'
      },
      {
        name: 'Meet the Team',
        url: 'https://www.tradegecko.com/team'
      },
      {
        name: 'Careers',
        url: 'https://www.tradegecko.com/jobs'
      },
      {
        name: 'Press kit',
        url: 'https://www.tradegecko.com/press-kit'
      },
    ],
    contact: [
      {
        name: 'Contact us',
        url: 'https://www.tradegecko.com/contact-us'
      },
      {
        name: 'Email us',
        url:'mailto:hello@tradegecko.com'
      },
      {
        name: 'Visit us',
        url: 'https://www.tradegecko.com/contact-us'
      }
    ],
    getting_help: [
      {
        name: 'Help Desk',
        url: 'http://support.tradegecko.com'
      },
      {
        name: 'FAQ',
        url: 'https://www.tradegecko.com/faq'
      },
      {
        name: 'Staus',
        url: 'https://status.tradegecko.com'
      }
    ],
    partners: [
      {
        name: 'Become a partner',
        url: 'https://www.tradegecko.com/partners'
      },
      {
        name: 'Partner portal',
        url: 'https://partners.tradegecko.com/'
      },
      {
        name: 'Find a partner',
        url: 'https://partners.tradegecko.com/directory'
      },
      {
        name: 'Developers & API',
        url: 'https://developer.tradegecko.com/'
      }
    ]
  }
%>
<div class="feedback-banner">
    <h2>
      Got Feedback? We want to hear from you!
    </h2>
    <a target="_blank" href="https://tradegecko.typeform.com/to/A2ewy0" class="btn btn-big btn-primary" >
      Give Feedback
    </a>
</div>
<div class="base__footer">
  <div class="corner-ribbon-bounds corner-ribbon-bounds--loose">
    <a class="corner-ribbon corner-ribbon--moko" target="_blank" href="https://www.tradegecko.com/jobs">
      We're Hiring
    </a>
  </div>
  <div class="footer-wrapper">
    <div class="container">
      <div class="row">
        <% @links.each_pair do |key, value| %>
          <div class="col-2">
          <h4><%= key.to_s.titleize %></h4>
            <ul class="link-list">
              <% value.each do |link| %>
                <li><a href="<%= link[:url] %>" target="_blank"><%= link[:name] %></a></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="col-4">
          <a target="_blank" href="https://tradegecko.typeform.com/to/A2ewy0" class="btn btn-big btn-primary" >
            Subscribe to our newsletter
          </a>
          <legend>
            You'll get useful news from our blog, as well as periodic product update emails. Unsubscribe any time.
          </legend>
        </div>
      </div>
      <div class="row" style="margin-top: 100px;">
        <div class="footer-moko">
      </div>
    </div>
  </div>
</div>
