# Guides
<p><%= current_page.data.external_guide_introduction %></p>

<% current_page.data.external_guides.each do |guide| %>
  <ul>
    <li><a href="<%= guide.url %>" target="_blank"> <%= guide.header %> Guide</a></li>
  </ul>
<% end %>

<% current_page.data.guides && current_page.data.guides.each do |resource| %>
  <%= partial "includes/guides/#{resource}" %>
<% end %>
