<div id="additional_resources" class="guide-section">
  <h2>Additional Resources</h2>
  <p>See these additional resources for more information about authorization, webhooks and order actions.</p>
  <ul>
    <li><a target="_blank" href="/docs.html#authentication">Getting API key for Authentication</a></li>
    <li><a target="_blank" href="/docs.html#webhook">Using Webhooks</a></li>
    <li><a target="_blank" href="/docs.html#order-actions">Order Actions</a></li>
    <li><a target="_blank" href="https://github.com/tradegecko/smaug/issues">TradeGecko API Forum</a></li>
  </ul>
</div>
