<div id="support" class="guide-section">
  <h2>Support</h2>
  <p>For API feature requests, bug reports and other questions related to API guides, contact <a href="mailto:support@tradegecko.com">support@tradegecko.com</a>.</p>
</div>
