.feedback-banner {
  margin-top: 50px;
  background:#1C4561;
  padding-top:10px;
  padding-bottom:10px;
  display: flex;
  justify-content: center;
  color:white
}

.feedback-banner > a {
  margin-left: 10px;
  background-color: #5784f7;
  border-color: #5784f7;

  &:hover {
    background-color: darken(#5784f7, 10%);
  }
}
