.home-cta-container {
  justify-content:center;
  display: flex;
}

.home-cta-wrapper{
  width:50%;
  text-align:center;
}

.home-cta_button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;

  & .btn:first-child {
    margin-right:10px;
  }
}

@media (max-width: 999px) {

  .home-cta-wrapper {
    width: 100%;
  }
}
